*,
*::before,
*::after {
	box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, figure, blockquote, dl,dd {
	margin: 0;
}

ul, ol {
	padding: 0;
	list-style: none;
}

img, picture, video, canvas, svg {
	max-width: 100%;
	height: auto;
	display: block;
}

a {
	text-decoration: none;
	color: inherit;
}

input, button, textarea, select {
	font: inherit;
}